@font-face {
    font-family: 'LeoRounded-Light';
    src: url('fonts/LeoRounded-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bariol-Regular';
    src: url('fonts/Bariol-Regular.ttf') format('truetype');
}

iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bariol-Regular';
    background-color: #242424;
    color: #989898;
    font-size: 20px;
}

h1, h2, strong {
    font-family: 'LeoRounded-Light';
    color: #686868;
}

header {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background: url("assets/fb_banner_halloween.png") no-repeat fixed;
    background-size: cover;
}

section {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
}

section > p {
    text-align: justify;
}

section div {
    padding: 8px;
}

.general {
    flex: 2
}

.hard-facts {
    flex: 1
}

hr {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 16px;
    margin-bottom: 16px;
    background: linear-gradient(to right, rgba(249, 105, 14, 1) 0%, #89a049);
    border: 0;
    height: 1px;
}

.logo-with-icon {
    justify-content: center;
    display: flex;
    align-items: center;
}

h1 img {
    padding-right: 8px;
}

section.subsection {
    flex-direction: column;
    justify-content: center;
}

section.subsection h1 {
    text-align: center;
}

section.subsection h3 {
    text-align: center;
}

.split-content {
    display: flex;
    flex-direction: row;
}

.split-content div {
    flex: 1
}

footer {
    max-width: 70vw;
    margin: auto;
    color: #8a8a8a;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 50px;
}

.footer-nav a {
    padding: 8px;
    font-family: 'LeoRounded-Light';
}

a {
    text-decoration: none;
    color: #0098cf;
}

.video {
    padding: 32px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 12em;
}

.logoBig {
    width: 8em;
}

* {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    width: 48rem;
}
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #0098cf;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #8a8a8a;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #0098cf;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #0098cf;
    border: 1px solid #0098cf;
}

.accordion button .accordion-title {
    padding: 1em 1em 1em 0;
    font-family: 'Bariol-Regular';
    font-size: 22px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #0098cf;
}
.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    padding: 0;
}
.accordion .accordion-content p {
    font-size: 18px;
    font-weight: 300;
    margin: 2em 0;
}


@media (max-width: 1000px) {
    .split-content {
        flex-direction: column;
    }
    .logos {
        flex-direction: column;
    }
    .logo {
        margin: 16px;
    }
}

section:nth-child(3n+0) .colored {
    color:#e6204c;
}
section:nth-child(3n+1) .colored {
    color:#0098cf;
}
section:nth-child(3n+2) .colored {
    color:#89a049;
}